<!--ここからぱんくず-->
<div class="bg-ash">
  <div class="container">
    <ul class="bread-crumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/"><span itemprop="name">MARK 山 TOP</span></a>
          <meta itemprop="position" content="1">&gt;
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/users/sign_up"><span itemprop="name">登録する</span></a>
          <meta itemprop="position" content="2">
      </li>
    </ul>
  </div>
</div>

<div class="container">
<h2>MARKSに登録する</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="columns-f">
    <div class="column-f-left">
      <h3><%= f.label :メールアドレス %></h3><span class="must">*</span>
    </div>
    <div class="column-f-right">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <div class="columns-f">
    <div class="column-f-left">
      <h3><%= f.label :パスワード %><% if @validatable %><em>(最低 <%= @minimum_password_length %> 文字)</em><% end %><br /></h3><span class="must">*</span>
    </div>
    <div class="column-f-right">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="columns-f">
    <div class="column-f-left">
      <h3><%= f.label :パスワード %><em>(再確認)</em></h3><span class="must">*</span>
    </div>
    <div class="column-f-right">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="columns-f">
    <div class="column-f-left">
      <h3><%= f.label :ニックネーム %></h3><span class="must">*</span>
    </div>
    <div class="column-f-right">
      <%= f.text_field :nickname, autocomplete: "off" %>
    </div>
  </div>

  <div class="columns-f">
    <div class="column-f-left">
      <h3><%= f.label :ひと言紹介 %></h3>
    </div>
    <div class="column-f-right">
      <%= f.text_field(:introduction, placeholder: "低山好きのWEBディレクター", autocomplete: "off") %>
    </div>
  </div>

  <div class="columns-f">
    <div class="column-f-left">
      <h3><%= f.label :プロフィールアイコン %></h3>
    </div>
    <div class="column-f-right">
      <p><%= f.file_field :img %></p>
      <span class="txt-photo-box">正方形の写真を投稿してください。</span>
    </div>
  </div>

  <div class="columns-f">
    <%= f.submit(:登録する, :class => 'button-devise button-signup')%>
  </div>

<% end %>

  <div class="columns-f">
    <span class="txt-not-login">既に登録している方は...</span>
    <%= render "devise/shared/links" %>
  </div>


</div>

